/MobileTools/MobileTools/bin
/MobileTools/MobileTools/obj
/MobileTools/MobileTools.Android/bin
/MobileTools/MobileTools.Android/obj
/MobileTools/MobileTools.iOS/bin
/MobileTools/MobileTools.iOS/obj
/MobileTools/MobileTools.UWP/bin
/MobileTools/MobileTools.UWP/obj
/.vs/MobileTools/v16
/maps_key.png
